.bg-secondary {
    background-color: #191C24 !important;
}


@media (min-width: 992px) {
    .ms-lg-0 {
        margin-left: 0 !important;
    }

    .ms-4 {
        margin-left: 1.5rem !important;
    }

    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        white-space: nowrap;
    }
}

.text-primary {
    color: #EB1616 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.bg-secondary {
    background-color: #191C24 !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #EB1616;
}


.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 20px 0;
    color: #6c7293;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #EB1616;
    border-color: #EB1616;
}

.fadeInUp {
    background: #f2f2f2;
    /* transition: .5s; */
    display: grid;
    grid-gap: 20px;
}

.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fact2 {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/carousel-bg-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel {
    position: relative;
    height: 50%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-item img {
    width: 100%;
    height: 930px;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.navbar-light.sticky-top {
    top: 100px;
    transition: .5s;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* стили для самого главного заголовка */
.step__title {
    text-shadow: 1px 1px 1px #000;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    color: #009FE3;
    /* text-shadow: 1px 1px 1px #00B9E4; */
    margin-bottom: 25px;
    }
    
    
    
    
    .start-washing__item:not(:last-child) {
    margin-bottom: 30px;
    }
    
    
    
    .start-washing__item_image {
    display: flex;
    align-items: center;
    }
    
    
    
    .start-washing__item {
    list-style: none;
    }
    
    /* отступы от текста с картинками */
.stage-item {
    margin-bottom: 43px;
    }
    
    
    
    /* Отступы заголовков в серху */
    .step__stage-head {
    margin-top: 20px;
    
    }
    
    
    /* отступы от иконок  */
    .stage-item__icons {
    margin-bottom: 33px;
    }
    
    
    /* Заголовки в мойке */
    .step__stage-head {
    /* background: #1A4C75; */
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 50px;
    }
    
    .stage-item__icons-item img{
      max-width: 60px;
    }
    
    .step__stage-item{
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    /* border: 2px solid red; */
    }
    
    .fact3 {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/wash.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height:400px;
        display: grid;
        
        text-align: center;
    }
    .fact3 h4{
        padding-top: 100px;
    }
    .fact4 {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/41.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height:400px;
        display: grid;
        line-height: 2;
        text-align: center;
    }



    /* Прайс товары */
    .fact5 {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/a98ae25e374ee0a361b123fb4e6617ce.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height:400px;
        display: grid;
        line-height: 2;
        text-align: center;
    }
    .bt-pricing {
margin-bottom: 30px;
margin-top: 30px;
text-align: center;
border: 1px solid #e4e4e4;
background-color: #F4F4F4;
color: #3C3C3C
}
/* .bt-pricing:hover {
margin-top: 5px;
-moz-transition: margin-top 0.25s ease 0s;
-ms-transition: margin-top 0.25s ease 0s;
transition: margin-top 0.25s ease 0s
} */
.bt-pricing ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px
}
.bt-pricing ul li {
padding: 20px;
cursor: pointer
}
.bt-pricing ul li.title-text {
background-color: #3C3C3C;
color: #fff;
font-family: Verdana;
font-weight: 400;
}
.bt-pricing ul li.price {
padding: 40px 20px 0px 20px;
font-size: 40px;
font-weight: 900;
color: ;
}
.bt-pricing ul li.price small {
color: #6c7293;
display: block;
font-size: 12px
}
.bt-pricing ul li.price::after {
padding-top: 20px;
content: "";
display: block;
position: relative;
bottom: 100%;
left: 50%;
margin-left: -50.75px;
height: 0;
width: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 35px solid #191C24;
}
.bt-pricing .pricing-footer {
padding: 20px
}

.bt-pricing img{
    width: 60%;
    padding: 20px;
}

.bt-pricing:hover{
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 16%);
}
.effects  {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 20px;
    overflow: hidden;
   }
   
   .effects  img {
    display: block;
    position: relative;
    max-width:100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   
   .effects  div {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
   }
   
   .effects a {
    display: inline-block;
    text-decoration: none;
    margin: 50px 14px;
    padding: 40px;
    color: #fff;
    font-size: 26px;
   }
   
   .effects div {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    color: #000;
   }
   
   .effects img {
    transition: all 0.5s linear;
   }
   
   .effects:hover img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
    opacity: 1;
   }
   
   .effects:hover div {
    opacity: 0.8;
    background-color: #191C24;
   }


   /* Страница контакты */

   .fact6 {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/contacts/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:200px;
    display: grid;
    line-height: 2;
    text-align: center;
}

.single-gallery img {
    width: 100%;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    }
    
    .single-gallery:nth-child(2) {
    margin-top: 80px;
    }
    
    
    
    
    /* МЕДИА ЗАПРОСЫ */

@media(max-width:500px){
    
    .step__stage-head {
        /* background: #1A4C75; */
        font-weight: bold;
        font-size: 16px;
        line-height: 33px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        margin-bottom: 50px;
        }

    .syska{
        font-size: 14px;
    }
    .step__stage-item {
        width: 300px;
    }
    
    
    .stage-item__icons-item img{
      max-width: 60px;
    }
    
    .step__stage-item {
        width: 345px;
        margin-left: 20px;
        padding: 10px;
        /* border: 2px solid red; */
    }

    .img-fluid{
        margin: 0%;
    }
    .inform{
       width: 95%; 
    }
    .maps iframe{
        width: 91%;
    }
    .feedback{
        width: 92%;
    }
    .text-slider{
        font-size: 20px;
        text-transform: none;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .ms-lg-0 {
        margin-left: 0 !important;
    }

    .ms-4 {
        margin-left: 1.5rem !important;
    }

    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        white-space: nowrap;
    }
}
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .navbar.shadow-sm .navbar-nav .nav-link {
        padding: 20px 0;
    }
}
/* КОНЕЦ МЕДИА ЗАПРОСОВ */
